:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*a {
  color: inherit;
  text-decoration: none;
}*/

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-tooltip {
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 0px;
  white-space: nowrap;
}

.custom-tooltip__label {
  margin: 0px;
}

.custom-tooltip__list {
  padding: 0px;
  margin: 0px;
}

.custom-tooltip__item {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.scrollableChartWrapper {
  position: relative;
  background-color: ghostwhite;
}

/* スクロール可能グラフを囲む div */
.scrollableChartWrapper > div {
  position: relative;
  overflow-x: scroll;
}

/* Y軸イメージコピー用 canvas */
.scrollableChartWrapper > canvas {
  position: absolute;   /* これにより、上の div と重なる位置に canvas が配置される */
  left: 0;
  top: 0;
  background-color: ghostwhite;  /* ここをコメントアウトすると、背景色が透明になるので、Y軸を透かしてグラフ部分が見えるようになる */
}